.IBM {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.Inter {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

.invert {
  background-color: white;
  color: black;
}

.flex {
  display: flex;
}

.direction-invert {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: clamp(4px, 2vw, 16px);
}

.direction-normal {
  align-items: center;
  justify-content: flex-end;
  gap: clamp(4px, 2vw, 16px);
  text-align: right;
}

.margin {
  margin: auto;
  width: clamp(240px, 90vw, 720px);
}

.margin2 {
  margin: auto;
  width: clamp(240px, 90vw, 480px);
}

.margin3 {
  margin: auto;
  width: clamp(240px, 90vw, 500px);
}

.aspect4-3 {
  aspect-ratio: 4/3;
}

.header {
  font-size: clamp(60px, 30vw, 164px);
  font-style: normal;
  margin: 0 auto;
  font-weight: 400;
  line-height: 100%;
}

.header2 {
  font-size: clamp(24px, 10vw, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.body {
  font-size: clamp(10px, 5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.body2 {
  font-size: clamp(8px, 3vw, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.body3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.padding1 {
  margin: 5% auto;
}
.padding2 {
  margin: 3% auto;
}
.padding3 {
  margin: 8% auto 0 0;
}
.padding4 {
  margin: 8% 0 0 auto;
}
.paddingTop {
  margin-top: 5%;
}

.center {
  text-align: center;
}

.img {
  aspect-ratio: 1/1;
  width: clamp(64px, 16vw, 86px);
  background-size: cover;
}

.section {
  height: 100vh;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.typed {
  overflow: hidden;
  white-space: normal;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

.fade {
  opacity: 0;
  animation: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.delays1 {
  animation-delay: 1s;
}

.sticky {
  position: fixed;
  bottom: 3%;
  right: 3%;
  stroke: #636363;
  transition: 0.5s;
  transform: rotate(0deg);
}

.flip {
  transition: 0.5s;
  transform: rotate(180deg);
}

.sticky:hover {
  stroke: #acacac;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: clamp(240px, 90vw, 720px);
    height: fit-content;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 450px) {
  .direction-invert,
  .direction-normal {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .body3 {
    text-align: center;
  }
  .padding3,
  .padding4 {
    margin: 8% 0 0 0;
  }
}
